h1 {
    color: red;
}

h1.food {
    color: red;
    font-family: monospace;
    font-size: 35px;
}

.introduction {
    background-color: antiquewhite;
    font-size: 25px;
}

#foods {
    background-color:hsl(171, 72%, 80%);
    font-size: 20px;
}